body {
  font-family: Arial;
  background: #111;
  color: white;
}

.chat-box {
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
  background: #222;
  padding: 15px;
  border-radius: 10px;
}

#messages {
  height: 250px;
  overflow-y: auto;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  background: #00ffcc;
  border: none;
}
